body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

main {
    padding: 20px;
}

h1 {
    margin: 0;
}

p {
    font-size: 1.1rem;
}

#calendar {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}

.day {
    background: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
}

.day:hover {
    background-color: #eee; /* Change this to the color you want when hovering */
}


.weekend {
    background: #ffcccc; /* Change this to the color you want for the weekend */
}

.day span {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
}

/* New CSS for responsiveness */
@media screen and (max-width: 768px) {
    #calendar {
        grid-template-columns: repeat(1, 1fr);
    }
}